body{
    margin: 0;
    background-color: rgba(0, 0, 0, 0.87);
    color: white;
}

.fixed-header{
    position: fixed;
    margin: 0;
    width: 100%;
    padding: 30px 0px;
    z-index: 1000;
}

.fixed-header:hover{
    background-color: black;
    transition: 0.3s;
}

/*navigator*/
.navigator{
    display: flex;
    justify-content: space-between;
    padding: 0px 100px;
    align-items: center;
}

li{
    display: inline;
    align-self: center;
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
}

.site-name{
    margin:0;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: yellow;
}

.nav-menu{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.nav-menu:hover{
    color: aquamarine;
    transition: 0.3s;
}

/*dashboard*/
.dashboard{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1000px;
    padding: 70px 0px;
}

.korean-comment{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 50px;
    margin: 0;
    padding-top: 80px;
}

.sample,.highlight{
    color: black;
    -webkit-text-stroke: 1px yellow;
}

.sample:hover{
    color: yellow;
}

.highlight:hover{
    color: black;
    -webkit-text-stroke: initial;
    font-weight: 700;
}

.type1:hover{
    background-color: yellowgreen;
}

.type2:hover{
    background-color: skyblue;
}

.type3:hover{
    background-color: orange;
}

.tag{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 15px;
    display: inline-block;
    color:aquamarine;
    padding-top: 20px;
    font-style: italic;
}

.word{
    border: 1.5px solid aquamarine;
    border-radius: 50px;
    padding: 8px 15px;
}

/*profile-section*/
.profile-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1000px;
    padding-top: 50px;
    padding-bottom: 70px;
}

.profile-picture{
    width: 25%;
    height: auto;
    padding-right: 30px;
}

h3{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.introduction>h1{
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 800;
    font-size: 40px;
}

.introduction>p{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.profile-extra{
    padding-left: 100px;
}

h2{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: aquamarine;
}

.profile-extra>p{
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px
}

/*life-mottos*/
.life-mottos{
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    margin: 0 auto;
    max-width: 1000px;
    padding: 70px 0px;
}

.life-mottos>h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: yellow;
    margin: 0;
    padding-bottom: 20px;
}

.mottos{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 22px;
    margin: 0;
    padding-top: 50px;
    text-align: center;
}

.type4{
    color: aquamarine;
}

.eng-quotes{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-style: italic;
}

/*interest*/
.interest{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1000px;
    padding-bottom: 70px;
}

.interest>h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: yellow;
    margin: 0;
    padding-bottom: 70px;
}

.interest-icon,.video-source{
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: space-between;
}

.video-icon,.music-icon,.leisure-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.youtube,.music,.travle{
    width: 35%;
    padding-bottom: 15px;
}

.video-info,.music-info,.leisure-info{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 15px 0px;
    text-align: center;
}

/*footer*/
.footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.copyright>p{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    font-weight: 100;
    margin: 0;
}

.copyright>span{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 13px;
    margin: 0;
    margin-top: 20px;
    display: block;
}